<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/members/enroll" method="POST">
        <label for="memberPassword">What's the password?</label>
        <input type="password" id="memberPassword" name="memberPassword">
        <button type="submit">Submit</button>
    </form>
</body>
</html>